<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="con" connectionString="Data Source=DESKTOP-4LH1LLC\SQLEXPRESS;Initial Catalog=LISPdb;Integrated Security=true; MultipleActiveResultSets =true"/>
    <add name="LISPdbConnectionString" connectionString="Data Source=DESKTOP-4LH1LLC\SQLEXPRESS;Initial Catalog=LISPdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>



	
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="1073741824" executionTimeout="1200"/>
	  <httpCookies httpOnlyCookies="true" requireSSL="false"/>
	  
  </system.web>

	<system.webServer>
		<security>
			<requestFiltering>

				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
	</system.webServer>
	
</configuration>